<!-- Sidebar -->
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="/sbadmin2/index.html"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Portofolio Admin</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/sbadmin2/index.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Master</div>
  <li class="nav-item">
    <a class="nav-link collapsed" href="/admin/hero">
      <i class="fas fa-fw fa-id-badge"></i>
      <span>Hero</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="/admin/about">
      <i class="fas fa-fw fa-id-badge"></i>
      <span>About</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="/admin/list">
      <i class="fas fa-fw fa-list"></i>
      <span>List</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="/admin/tech">
      <i class="fas fa-fw fa-laptop"></i>
      <span>Tech</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="/admin/job">
      <i class="fas fa-fw fa-handshake"></i>
      <span>Job</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="/admin/tab">
      <i class="fas fa-fw fa-table"></i>
      <span>Tab</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="/admin/project">
      <i class="fas fa-fw fa-sticky-note"></i>
      <span>Project</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="/admin/tool">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Tool</span>
    </a>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

  <!-- Sidebar Message -->
  <div class="sidebar-card">
    <img
      class="sidebar-card-illustration mb-2"
      src="/images/andrian1.jpg"
      alt=""
    />
  </div>
</ul>
<!-- End of Sidebar -->
